@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-width: 4px;
  --masonry-gap: 2rem;
  --block-shadow-thickness: 1rem;
  --block-shadow-offset: 0.75rem;
}

body {
  font-family: theme('fontFamily.body');
}

h1 {
  font-size: xx-large;
}

.block-shadow {
  position: relative;
  background-color: white;
  border: var(--border-width) solid theme('colors.black');
}

.block-shadow::before {
  content: '';
  position: absolute;
  background-color: theme('colors.black');
  bottom: calc(-1 * var(--block-shadow-thickness));
  height: var(--block-shadow-offset);
  width: 100%;
  left: var(--block-shadow-thickness);
  border-bottom: var(--border-width) solid theme('colors.black');
  border-left: var(--border-width) solid theme('colors.black');
}

.block-shadow::after {
  content: '';
  position: absolute;
  background-color: theme('colors.black');
  right: calc(-1 * var(--block-shadow-thickness));
  top: var(--block-shadow-thickness);
  width: var(--block-shadow-offset);
  height: 100%;
  border-top: var(--border-width) solid theme('colors.black');
  border-right: var(--border-width) solid theme('colors.black');
  border-bottom: var(--border-width) solid theme('colors.black');
}

.yellow-shadow::after,
.yellow-shadow::before {
  background-color: theme('colors.yellow');
}

.masonry {
  display: flex;
  margin-left: calc(-1 * var(--masonry-gap));
  width: auto;
}

.masonry-column {
  padding-left: var(--masonry-gap);
  background-clip: padding-box;
}

.triangle-container {
  position: absolute;
  transform: translate(-110px, -50px) scale(80%) rotate(20deg);
}

.decorative-triangle {
  border-style: solid;
  border-width: 80px 80px 0 0;
  border-color: theme('colors.black') transparent transparent transparent;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 5px;
    top: -75px;
    border-width: 62px 62px 0 0;
    border-color: theme('colors.coral') transparent transparent transparent;
  }
}

.circle {
  transform: translate(450%, -160%);
  position: absolute;
  background-color: turquoise;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: var(--border-width) solid theme('colors.black');
}

@media screen and (max-width: 640px) {
  .triangle-container {
    transform: translate(-90px, -60px) scale(60%) rotate(20deg);
  }

  .circle {
    transform: translate(430%, -160%) scale(80%);
  }
}
